In [56]:
import json
import pandas as pd
import numpy as np

In [27]:
# JSON file
f = open ('datasets/traverse.json', "r")
 
# Reading from file
data = json.loads(f.read())

In [28]:
position = []
for d in data:
    aux = d['keypoints']
    p = [None, None, None, None]
    for a in aux:
        if a['part'] == 'leftShoulder':
            p[0] = [a['position']['x'], a['position']['y']]
        elif a['part'] == 'rightShoulder':
            p[1] = [a['position']['x'], a['position']['y']]
        elif a['part'] == 'leftWrist':
            p[2] = [a['position']['x'], a['position']['y']]
        elif a['part'] == 'rightWrist':
            p[3] = [a['position']['x'], a['position']['y']]
    position.append(p.copy())

In [74]:
df = pd.DataFrame(position, columns=['leftShoulder', 'rightShoulder', 'leftWrist', 'rightWrist'])
df

,leftShoulder,rightShoulder,leftWrist,rightWrist
0,"[157.35390267721036, 353.23655666674404]","[182.3546767816311, 351.9255302168462]","[151.63526581554876, 389.9776616769595]","[193.1688262195122, 381.44303506338224]"
1,"[157.35390267721036, 353.23655666674404]","[182.3546767816311, 351.9255302168462]","[151.63526581554876, 389.9776616769595]","[193.1688262195122, 381.44303506338224]"
2,"[157.35390267721036, 353.23655666674404]","[182.3546767816311, 351.9255302168462]","[151.63526581554876, 389.9776616769595]","[193.1688262195122, 381.44303506338224]"
3,"[157.35390267721036, 353.23655666674404]","[182.3546767816311, 351.9255302168462]","[151.63526581554876, 389.9776616769595]","[193.1688262195122, 381.44303506338224]"
4,"[157.35390267721036, 353.23655666674404]","[182.3546767816311, 351.9255302168462]","[151.63526581554876, 389.9776616769595]","[193.1688262195122, 381.44303506338224]"
...,...,...,...,...
359,"[192.3649783250762, 337.4559901153882]","[161.9870069550305, 339.7484792904903]","[194.5670225562119, 363.2871645152303]","[162.65403189310214, 362.37040086947434]"
360,"[190.73073968654725, 333.4946513976597]","[161.92604623189786, 335.17209773750926]","[203.2584288062119, 380.4574672931371]","[157.37821253334604, 357.59311008311664]"
361,"[198.20907964939025, 328.8507448284268]","[165.252998165968, 331.33242303584694]","[197.1321217606707, 368.98312273634843]","[153.60519781345275, 378.27257194348994]"
362,"[198.2731219035823, 330.2203425369149]","[165.8114102991616, 332.670072785104]","[197.022392459032, 366.50843500417903]","[154.80069788490854, 379.57220540606426]"
363,"[198.2731219035823, 330.2203425369149]","[165.8114102991616, 332.670072785104]","[197.022392459032, 366.50843500417903]","[154.80069788490854, 379.57220540606426]"

In [75]:
df1 = pd.concat([pd.DataFrame(df[c].values.tolist()) for c in df.columns], 
                 axis=1, 
                 keys=df.columns)
df1.columns = ['{}{}'.format(i, j) for i, j in df1.columns]

In [76]:
col = df1.loc[: , ["leftShoulder0","rightShoulder0"]]
df1['shoulder0'] = col.mean(axis=1)
col = df1.loc[: , ["leftShoulder1","rightShoulder1"]]
df1['shoulder1'] = col.mean(axis=1)

In [77]:
df1

,leftShoulder0,leftShoulder1,rightShoulder0,rightShoulder1,leftWrist0,leftWrist1,rightWrist0,rightWrist1,shoulder0,shoulder1
0,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043
1,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043
2,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043
3,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043
4,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043
...,...,...,...,...,...,...,...,...,...,...
359,192.364978,337.455990,161.987007,339.748479,194.567023,363.287165,162.654032,362.370401,177.175993,338.602235
360,190.730740,333.494651,161.926046,335.172098,203.258429,380.457467,157.378213,357.593110,176.328393,334.333375
361,198.209080,328.850745,165.252998,331.332423,197.132122,368.983123,153.605198,378.272572,181.731039,330.091584
362,198.273122,330.220343,165.811410,332.670073,197.022392,366.508435,154.800698,379.572205,182.042266,331.445208
363,198.273122,330.220343,165.811410,332.670073,197.022392,366.508435,154.800698,379.572205,182.042266,331.445208

In [78]:
left_wrist_norm0 = df1.loc[:, 'leftWrist0'] - df1.loc[: , 'shoulder0']
right_wrist_norm0 = df1.loc[:, 'rightWrist0'] - df1.loc[: , 'shoulder0']
left_wrist_norm1 = df1.loc[:, 'leftWrist1'] - df1.loc[: , 'shoulder1']
right_wrist_norm1 = df1.loc[:, 'rightWrist1'] - df1.loc[: , 'shoulder1']

In [79]:
df1['lwn0'] = left_wrist_norm0
df1['rwn0'] = right_wrist_norm0
df1['lwn1'] = left_wrist_norm1
df1['rwn1'] = right_wrist_norm1

In [80]:
df1

,leftShoulder0,leftShoulder1,rightShoulder0,rightShoulder1,leftWrist0,leftWrist1,rightWrist0,rightWrist1,shoulder0,shoulder1,lwn0,rwn0,lwn1,rwn1
0,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043,-18.219024,23.314536,37.396618,28.861992
1,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043,-18.219024,23.314536,37.396618,28.861992
2,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043,-18.219024,23.314536,37.396618,28.861992
3,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043,-18.219024,23.314536,37.396618,28.861992
4,157.353903,353.236557,182.354677,351.925530,151.635266,389.977662,193.168826,381.443035,169.854290,352.581043,-18.219024,23.314536,37.396618,28.861992
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
359,192.364978,337.455990,161.987007,339.748479,194.567023,363.287165,162.654032,362.370401,177.175993,338.602235,17.391030,-14.521961,24.684930,23.768166
360,190.730740,333.494651,161.926046,335.172098,203.258429,380.457467,157.378213,357.593110,176.328393,334.333375,26.930036,-18.950180,46.124093,23.259736
361,198.209080,328.850745,165.252998,331.332423,197.132122,368.983123,153.605198,378.272572,181.731039,330.091584,15.401083,-28.125841,38.891539,48.180988
362,198.273122,330.220343,165.811410,332.670073,197.022392,366.508435,154.800698,379.572205,182.042266,331.445208,14.980126,-27.241568,35.063227,48.126998
363,198.273122,330.220343,165.811410,332.670073,197.022392,366.508435,154.800698,379.572205,182.042266,331.445208,14.980126,-27.241568,35.063227,48.126998